<div class="container">
  <div class="row">
    <div class="col-md-10 col-md-offset-2">
      <button class="btn btn-danger btn-primary-spacing " (click)="addProject()">
        Add Project
      </button>
      <h4  class="btn-primary-spacing"> Project List</h4>

      <div class="input-group md-form form-sm form-2 pl-0">
        <input class="form-control my-0 py-1 " type="text" placeholder="Search" aria-label="Search" [(ngModel)]="searchText" (ngModelChange)="somethingChanged($event)">
        <div class="input-group-append">
          <span class="input-group-text red lighten-3" id="basic-text1"><i class="fa fa-search"></i></span>
        </div>
      </div>
        
      <table class="table table-bordered">
        <thead>
          <tr>
            <th>projectName</th>
            <th>description</th>
            <th>actions</th>
          </tr>
        </thead>
        <tbody>
            <tr *ngFor="let project of projects; let index = index ">
            <td>{{project.projectName}}</td>
            <td>{{project.description}}</td>
            <td>
              <div class="row">
                <div class="col-xs-4">
                  <a class="btn" (click)="editProject(project)" style="margin-left: 10px;">
                    <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-pencil" fill="currentColor"
                      xmlns="http://www.w3.org/2000/svg">
                      <path fill-rule="evenodd"
                        d="M12.146.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-10 10a.5.5 0 0 1-.168.11l-5 2a.5.5 0 0 1-.65-.65l2-5a.5.5 0 0 1 .11-.168l10-10zM11.207 2.5L13.5 4.793 14.793 3.5 12.5 1.207 11.207 2.5zm1.586 3L10.5 3.207 4 9.707V10h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.293l6.5-6.5zm-9.761 5.175l-.106.106-1.528 3.821 3.821-1.528.106-.106A.5.5 0 0 1 5 12.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.468-.325z" />
                    </svg>
                  </a>
                  <a class="btn" (click)="deleteProject(project)" style="margin-right: 10px;">
                    <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-trash-fill" fill="currentColor"
                      xmlns="http://www.w3.org/2000/svg">
                      <path fill-rule="evenodd"
                        d="M2.5 1a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1H3v9a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V4h.5a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H10a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1H2.5zm3 4a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 .5-.5zM8 5a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7A.5.5 0 0 1 8 5zm3 .5a.5.5 0 0 0-1 0v7a.5.5 0 0 0 1 0v-7z" />
                    </svg>
                  </a>
                </div>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
        <ul class="pagination">
          <li class="page-item"><a (click)="previousClick()" class="page-link">Previous</a></li>
          <li *ngFor='let index of pageIndexes' class="page-item" (click)="changeState(index)">
            <a (click)="getPaginationWithIndex(index)"
              [ngStyle]="{'background-color': clickedIndex === index  ? 'rgb(192,192,192)' : ''}" class="page-link">
              {{index + 1}}
            </a>
          </li>
          <li class="page-item"><a (click)="nextClick()" class="page-link">Next</a></li>
        </ul>
    </div>
  </div>
</div>